<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Dashboard</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Welcome to the FTI MRP System
                    </div>
                    <div class="card-body">
                        <h1>06/26/2019 Updates</h1>
                        <ul>
                            <li><b>Material Status</b> - now includes some order requirements on the material status sheet.
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
