<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Dashboard</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Welcome to the FTI MRP System
                    </div>
                    <div class="card-body">
                        <h4>06/26/2019 Updates</h4>
                        <ul>
                            <li><b>Material Status</b> - includes only DC modules right now - but will show requirements for modules based on current Orders. The "tested" row
                            is driven by the module log and totals the number of modules placed in the "tested" category.
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
