<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Material Status</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Material Status
                    </div>
                    <div class="card-body">
                        <h1>A Material Status Report</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
