<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Material Status</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Material Status
                    </div>
                    <div class="card-body">
                        <table id="material-table" class="table table-responsive-sm table-bordered table-striped table-sm">
                           <thead>
                            <tr>
                                <% @modules.each do |m| %>
                                    <th><%= m %>
                                <% end %>
                            </tr>
                          </thead>
                        
                          <tbody>
                            <% @orders.each do |order| %>
                              <tr>
                                <% order.each do |o| %>
                                    <td><%= o %></td>
                                <% end %>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
